assignment_1/__pycache__/adapter.cpython-312.pyc
assignment_1/__pycache__/sample_texts.cpython-312.pyc
day-5-langchain-and-transformers/dummy_env
day-5-langchain-and-transformers/requirements.txt
day-5-langchain-and-transformers/api/app.py
day-5-langchain-and-transformers/api/client.py
day-5-langchain-and-transformers/chatbot/app.py
day-5-langchain-and-transformers/chatbot/lamma.py
day-5-langchain-and-transformers/client/attention.pdf
day-5-langchain-and-transformers/client/retriever.ipynb
day-5-langchain-and-transformers/prompts/03_LLM Application Development 2.ipynb
day-5-langchain-and-transformers/prompts/react.ipynb
*.env
